<h3 class="page-header">
  All Users
  <span class="pull-right">
    <%= link_to "New User", new_user_url, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, edit_user_url(user) %>
      <%= link_to "Delete", 
            user_url(user), 
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>